/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
 */

 /* MAPA */
#mapa_principal {
  height: 280px;
  background-color: var(--bs-info);
}